<div class="navbar-default sidebar sidebar-nav" role="navigation">
    <div style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div class="sidebar-nav navbar-collapse nav-bar-mov" style="overflow: hidden; width: auto; height: 100%;">
            <!-- User Profile -->
            <div class="user-profile">
                <div class="dropdown user-pro-body">
                    <div><img src="/images/profile_pic.jpg" alt="user-img" class="img-rounded imgprof"></div>
                    </div>
                    <a href="javascript:void">erickgtzh@gmail.com</a>
                </div>
            </div>
            <!-- Close user profile -->

            <ul class="nav side-menu sidebar navbar-default" id="side-menu">
                <li>
                    <a href="javascript:void(0)"><i class="glyphicon glyphicon-file"></i> <span class="hide-menu">Inicio</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="glyphicon glyphicon-file"></i> <span class="hide-menu">Categorías<span class="fa arrow"></span><span class="label label-rouded label-purple pull-right">2</span></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/Admin/Category/Index">Lista de Categorías</a></li>
                        <li><a href="/Admin/Category/Create">Crear categoría</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="javascript:void(0)"><i data-icon="" class="glyphicon glyphicon-file"></i> <span class="hide-menu">Cursos<span class="fa arrow"></span><span class="label label-rouded label-purple pull-right">14</span></span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a href="/Admin/Products/Index" class="active">Lista de cursos</a></li>
                        <li><a href="/Admin/Products/Create">Crear curso</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>